<%= form_for @photo, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group"><%= label @photo, :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group"><%= label @photo, :author %>
      <%= f.text_field :author, class: 'form-control' %>
    </div>
    <div class="form-group"><%= label @photo, :url %>
      <%= f.text_field :url, class: 'form-control' %></div>
    <div class="form-group"><%= f.submit class: 'btn btn-primary' %></div>

<% end %>