<h1>Show Photo</h1>
<%= image_tag(@photo.url) %>
<%= @photo.title %>
<%= @photo.author %>
<%= link_to 'Edit', edit_polymorphic_path(@photo) %>
<%= link_to 'Delete', @photo, method: :delete %>
<%= link_to 'All Photos', photos_path %>