<h2>Show Photo</h2>
<%= content_tag :div, (link_to 'All Photos', photos_path, class: 'btn btn-primary'), class: 'row' %>
<div class="row"><%= image_tag(@photo.url, class: 'col-md-12') %></div>
<div class="row">
  <%= content_tag :div, @photo.title, class: 'col-md-6 photo_title' %>
  <%= content_tag :div, @photo.author, class: 'col-md-6 photo_author' %>
</div>
<div class="row"><%= link_to 'Edit', edit_photo_path(@photo), class: 'btn btn-warning' %>
<%= link_to 'Delete', @photo, method: :delete, class: 'btn btn-danger' %></div>